@keyframes console-item-appear {
    0%   {background-color: yellow;}
    100% {background-color: transparent;}
}
.console {
    .console-item {
        animation-name: console-item-appear;
        animation-duration: 4s;
    }
}