//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('./fonts.css');
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.storm-diagrams-canvas{
	height: 100%;
	width:100%;
	background-color: slategray;
	position: absolute;
	flex-grow: 1;
	display: flex;
	cursor: move;
	overflow: hidden;
	
	.point{
		fill: rgba(white,0.5);
		&.selected{
			fill: rgb(0,192,255);
		}
	}
	
	.selector{
		position: absolute;
		background-color: rgba(0,192,255,0.2);
		border: solid 2px rgb(0,192,255);
	}
	
	svg{
		position: absolute;
		height: 100%;
		width: 100%;
		background-image: url('./grid1.png');
		background-repeat: initial;
		background-size: 256px 256px;
		transform-origin: 0 0;
		overflow: visible;
	}
	
	.node-view{
		top:0;
		left:0;
		right:0;
		bottom:0;
		position: absolute;
		pointer-events: none;
		transform-origin: 0 0;
	}
	
	.node{
		position: absolute;
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none;   /* Chrome/Safari/Opera */
		user-select: none;
		cursor: move;
		pointer-events: all;
		
		&.selected{
			>* {
				border-color:rgb(0,192,255) !important;
				box-shadow: 0 0 20px rgba(0,192,255,0.5);
			}
		}

	}
	
	@keyframes dash {
		from {
            stroke-dashoffset: 24;
		}
		to {
            stroke-dashoffset: 0;
		}
	  }
	
	path{
		fill:none;
		pointer-events:all;
		
		&.selected{
			stroke: rgb(0,192,255) !important;
			stroke-dasharray: 10,2;
			animation: dash 1s linear infinite;
		}
	}
	
	.port{
		width: 15px;
		height: 15px;
		display: flex;
		background: rgba(white,0.1);
		&:hover,&.selected{
			background: rgb(192,255,0);
		}
		.label{

		}
		.typelabel{

		}
	}
	
	.basic-node{
		background-color: rgb(30,30,30);
		border-radius: 5px;
		font-family:Arial;
		color: white;
		border: solid 2px black;
		overflow: hidden;
		font-size: 11px;
		box-shadow: 0 0 10px rgba(black,0.5);
		
		.title{
/*			background-image: linear-gradient(rgba(black,0.1),rgba(black,0.2));*/
			background: rgba(black,0.3);
			display: flex;
			white-space: nowrap;
			>*{
				align-self: center;
			}
			.fa{
				padding: 5px;
				opacity: 0.2;
				cursor: pointer;
				
				&:hover{
					opacity: 1.0;
				}
			}
			.name{
				flex-grow: 1;
				padding: 5px 5px;
			}
		}
		
		.ports{
			display: flex;
			background-image: linear-gradient(rgba(black,0.1),rgba(black,0.2));
			.in, .out{
				flex-grow: 1;
				display: flex;
				width: 110px;
				flex-direction: column;
			}
			.out{
				//align-items: flex-end;
				flex-direction: row-reverse;
			}
			.in-port,.out-port{
				display: flex;
				margin-top: 1px;
				>*{
					align-self: center;
				}
				.name{
					padding: 0 5px;
					display: flex;
				}
			}
			.in-port{
				//padding-left: 15px;
			}
			.out-port{
				//padding-right: 15px;
				justify-content: flex-end;
				.name{
					justify-content: flex-end;
					text-align: right;
				}
			}
		}
	}
}

.led-widget{
	width:30px;
	margin-left: 100px;
	height:30px;
	border-radius: 30px;
	background-color: darkkhaki;
	opacity: 0.3;
	transition: opacity 0.2s ease;
	&.active{
		opacity: 1;
	}
}
.activity{
	background-color: deepskyblue;
	opacity: 0.25;
	width:10px;
	height: 10px;
	border-radius: 10px;
	position: absolute;
	right: 5px;
	transition: opacity 0.4s ease;
	&.active{
		opacity: 1;
		transition: none;
	}
}

.debug-display-node{
	.display-label{
		text-align: center;
		font-size: 20px;
	}
}